/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
      background-image :url(../img/sfondo.png);
   
}

/* Portrait layout (default) */
.app {
    background:url(img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    font-family: Strato;
    src: url("img/strato-linked-webfont.ttf");
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

      .prova{
            position:absolute;
            top: -100%;
            left: 10%;
            -webkit-animation-name: anim-logo; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
            -webkit-animation-fill-mode: forwards;
            animation-name: anim-logo;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }

        /* Chrome, Safari, Opera */
        @-webkit-keyframes anim-logo {
            100%{
                top: 20%;
            }
        }

        /* Standard syntax */
        @keyframes anim-logo {
            100%{
                top: 20%;
            }
        }


        .scritta-1{
            position: relative;
            top: 65%;
            right: 100%;
            margin-left:20%;
            margin-top: 110%;
            color:green;
            font-family: Strato;
            src: url("img/strato-linked-webfont.ttf");
            font-size: 189%;
            -webkit-animation-name: anim-right; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
            -webkit-animation-fill-mode: forwards;
            animation-name: anim-right;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
        /* Chrome, Safari, Opera */
        @-webkit-keyframes anim-right {
            100%{
                right: 10%;
            }
        }

        /* Standard syntax */
        @keyframes anim-right {
            100%{
                right: 10%;
            }
        }

        .scritta-2{
            position: relative;
            top: 75%;
            left: 100%;
            margin-top: 12%;
            margin-left: -5%;
            color: red;
            font-family: Strato;
            src: url("img/strato-linked-webfont.ttf");
            font-size: 243%;

            -webkit-animation-name: anim-left; /* Chrome, Safari, Opera */
            -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
            -webkit-animation-fill-mode: forwards;
            animation-name: anim-left;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }
        /* Chrome, Safari, Opera */
        @-webkit-keyframes anim-left {
            100%{
                left: 35%;
            }
        }

        /* Standard syntax */
        @keyframes anim-left {
            100%{
                left: 35%;
            }
        }
        .mnu{

            border:1px solid black;
            height: 113px;
            width: 100%;
            background-color:green;
        }

        .menu1{
            border:1px solid black;
            height: 121px;
            width: 100%;
            background-color:#014B01;

        }
        .img{
            margin-left: 36%;
            margin-top: 1%;
        }
        .obj{
            
                    margin-top: 106px;
                    margin-left: 5px;
                    height: 360px;
                    width: 225px;
                border:1px solid black;
        }
        .search{
   
    border-radius: 7px;
    margin-top: 7px;
    margin-left: 3px;
    padding: 8px;
    border-color: #024F02;
    text-align: center;
    width: 99%;
    height: 50px;


        }
        .ser{
    
    width: 30px;
    position: relative;
    margin-top: -14%;
    margin-left: 2%;
        }

        .ser1{
     background-color: transparent;
    border-color: white;
    width: 46px;
    height: 47px;
    position: absolute;
    margin-top: -47px;
    margin-left: 1%;
    border-radius: 39px;
        }

.mnu{
        width:200px;
height:100%;
position:absolute;
left:-200px;
background:rgba(0,0,0,0.8);    
}



